<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Home admin</title>
  <link rel="icon" type="image/x-icon" th:href="@{/images/Logo1.png}">

</head>
<body>
<div class="wraper">
    <div th:replace="/header :: header"></div>
    <div class="content_body">
        <div class="menu" id="sideBar" style="transition-duration: 400ms;">
        <div th:replace="/menu :: menu"></div>
        </div>
        <div class="bg_body" id="bgbody">
            <div class="body_inner">
                <div class="body_item">
                    <div class="body_item_inner">
                        <div class="item_inner icon">
                                <span class="material-symbols-outlined">
                                    trending_up
                                </span>
                        </div>
                        <div class="item_inner text">
                            <div class="text_title">
                                Bán ra hôm nay
                            </div>
                            <div class="text_title">
                                $1000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_item">
                    <div class="body_item_inner">
                        <div class="item_inner icon">
                                <span class="material-symbols-outlined">
                                    monitoring
                                </span>
                        </div>
                        <div class="item_inner text">
                            <div class="text_title">
                                Tổng bán ra
                            </div>
                            <div class="text_title">
                                $1400
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_item">
                    <div class="body_item_inner">
                        <div class="item_inner icon">
                                <span class="material-symbols-outlined">
                                    bar_chart
                                </span>
                        </div>
                        <div class="item_inner text">
                            <div class="text_title">
                                Doanh thu hôm nay
                            </div>
                            <div class="text_title">
                                $13200
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body_item">
                    <div class="body_item_inner">
                        <div class="item_inner icon">
                                <span class="material-symbols-outlined">
                                    monetization_on
                                </span>
                        </div>
                        <div class="item_inner text">
                            <div class="text_title">
                                Tổng doanh thu
                            </div>
                            <div class="text_title">
                                $13400
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table_body">
                <div class="table_title">
                    Laptop
                </div>
                <table class="table-fill">
                    <thead>
                    <tr>
                        <th class="text-left">Tên sản phẩm</th>
                        <th class="text-left">Lượt xem</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    <tr>
                        <td class="text-left">January</td>
                        <td class="text-left">$ 50,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">February</td>
                        <td class="text-left">$ 10,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">March</td>
                        <td class="text-left">$ 85,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">April</td>
                        <td class="text-left">$ 56,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">May</td>
                        <td class="text-left">$ 98,000.00</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="table_body">
                <div class="table_title">
                    Điện thoại
                </div>
                <table class="table-fill">
                    <thead>
                    <tr>
                        <th class="text-left">Tên sản phẩm</th>
                        <th class="text-left">Lượt xem</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    <tr>
                        <td class="text-left">January</td>
                        <td class="text-left">$ 50,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">February</td>
                        <td class="text-left">$ 10,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">March</td>
                        <td class="text-left">$ 85,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">April</td>
                        <td class="text-left">$ 56,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">May</td>
                        <td class="text-left">$ 98,000.00</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="table_body">
                <div class="table_title">
                    Phụ kiện
                </div>
                <table class="table-fill">
                    <thead>
                    <tr>
                        <th class="text-left">Tên sản phẩm</th>
                        <th class="text-left">Lượt xem</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    <tr>
                        <td class="text-left">January</td>
                        <td class="text-left">$ 50,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">February</td>
                        <td class="text-left">$ 10,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">March</td>
                        <td class="text-left">$ 85,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">April</td>
                        <td class="text-left">$ 56,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-left">May</td>
                        <td class="text-left">$ 98,000.00</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
        function myFunction() {
            console.log(document.getElementById("sideBar").style.width);
            if (document.getElementById("sideBar").style.width === "0px") {
                document.getElementById("sideBar").style.width = "15%";
                document.getElementById("logo").style.width = "15%";
                document.getElementById("bgbody").style.width = "85%";
                document.getElementById("navbar_main").style.width = "85%";

            }
            else {
                document.getElementById("sideBar").style.width = 0;
                document.getElementById("logo").style.width = 0;
                document.getElementById("bgbody").style.width = "100%";
                document.getElementById("navbar_main").style.width = "100%";
            }

        }
    </script>
</body>
</html>