<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" type="text/css" th:href="@{/styles/styleClient.css}" />
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" th:href="@{/images/Logo1.png}">
  <title>Thay đổi mật khẩu</title>
</head>
<body>
<div class="wrapper">
  <div th:replace="/navbar :: navbar"></div>
  <div class="container_details">

    <div class="container_user">

      <div class="title_user"></div>
      <div class="user_left">
        <div class="title_profile">
          <a href="">Trang chủ/</a>
          <a href="">Thông tin tài khoản</a>
        </div>
        <div class="user_left_inner">
          <ul>
            <li><a  th:href="@{/user-profile}"><span class="material-symbols-outlined">
                                person
                                </span><p>Thông tin tài khoản</p></a>
            </li>
            <li><a th:href="@{/user-notifications}"><span class="material-symbols-outlined">
                                notifications
                                </span><p>Thông báo</p><span class="notification_user">3</span></a>
            </li>
            <li><a th:href="@{/user-bill}"><span class="material-symbols-outlined">
                                receipt
                                </span><p>Lịch sử đơn hàng</p></a>
            </li>
            <li><a class="active_user" th:href="@{/user-resetpass}"><span class="material-symbols-outlined">
                                lock_reset
                                </span><p>Thay đổi mật khẩu</p></a>
            </li>
            <li><a th:href="@{/logout}">
              <span class="material-symbols-outlined">
                logout
              </span><p>Đăng xuất</p></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="user_right">
        <div class="user_right_inner">
          <div class="user_profile" id="resetpass">
            <form th:action="@{/user-resetpass}" method="post">
              <div class="tittle_staff">
                Thay đổi mật khẩu
              </div>
              <div class="alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
              <div class="alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
              <div class="notification_user_des">
                <div class="field_item2">
                  <label >Mật khẩu cũ: </label>
                  <input type="password" name="passOld">
                </div>
                <div class="field_item2">
                  <label >Mật khẩu mới: </label>
                  <input type="password" name="passNew">
                </div>
                <div class="field_item2">
                  <label >Xác nhận mật khẩu: </label>
                  <input type="password" name="passNew2">
                </div>
                <div class="field_item_btn">
                  <button type="submit">Lưu thay đổi</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="/footer :: footer"></div>
</div>
</body>
<script>
    window.onscroll = function () { myFunction() };
    var header = document.getElementById("navbar_main");
    var sticky = header.offsetTop;
    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    };
    function myFunction2(){
            document.getElementById("imgupload").click();
        }
    function inputSearch(){
        var x = document.getElementById("inputSearch").value;
        var y = document.getElementById("optionMenu").value;
        if((document.getElementById("inputSearch").getAttribute('hidden') != null)){
            let p = document.getElementById("inputSearch");
            let o = document.getElementById("optionMenu");
            p.removeAttribute("hidden");
            o.removeAttribute("hidden");
        }
        else{
            document.getElementById("formSearch").submit();
        }
    }
    function openPage(pageName, elmnt) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.querySelectorAll(".item_details_sub");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tab_item");
        cauhinh = document.querySelector(".tab_item_des");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "#fafafa";
            tablinks[i].style.color = "#080808";
        }

        cauhinh.style.backgroundColor = "#fafafa";
        cauhinh.style.color = "#080808";
        // Show the specific tab content
        document.getElementById(pageName).style.display = "flex";

        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = "#080808";
        elmnt.style.color = "#fff";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
</html>