*{
    box-sizing: border-box;
    font-family: var(--fontprimary);
    margin: 0 0;
}
:root{
    --primary:#171717;
    --sercondary:#212832;
    --fontprimary: 'Roboto', sans-serif;
    --fontsercondary: 'Alexandria', sans-serif;;
    --colorhover:#002E94;
}
.menu{
    display: flex;
    width: 15%;
    overflow-y: auto;
    min-height: 90vh;
}
.menu-inner{
    background-color: var(--primary);
    width: 100%;
}
.dropdow{
    width: 100%;
    position: relative;
    border-bottom: solid 1px var(--sercondary);
    border-top:  solid 1px var(--sercondary);
    -webkit-transition: 600ms;
            transition: 600ms;
}
.content_body{
    display: flex;
}
.dropdow_select {
    font-family: var(--fontprimary);
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}
.dropdow_select a{
    font-family: var(--fontprimary);
    width: 100%;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}
.active{
    background-color: var(--sercondary);
}
.dropdow_list{
    border-radius: 4px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    padding-inline-start:0px;
    padding-left: 10px;
}
.dropdow:hover .dropdow_list{
    display: block;
    position: relative;
}
.dropdow_select :hover{
    font-weight: bold;
    color: var(--colorhover);
}
li{
    list-style: none;
}
.dropdow_item{
    font-family: var(--fontprimary);
    padding: 10px;
    background-color: var(--primary);
    color: white;
    /* text-transform: uppercase; */
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
.dropdow_item a{
  text-decoration: none;
  color: white;
}
.alert-danger {
    font-size: 16px;
    width: 100%;
    color: #CC3636;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAD1C2;
    margin-bottom: 20px;
}
.dropdow_item a:hover{
  font-weight: bold;
  color: var(--colorhover);
}
.dropdow_item:first-child{
    position: relative;
    border-radius: 4px 4px 0 0;
}
.logo{
    display: flex;
    align-items: center;
    position: relative;
    width: 15%;
    justify-content: center;
    /* background-color: #737373; */
    background-color: var(--primary);
}
.navbar1{
    background-color: #e6e6e6;
    width: 100%;
}
.navbar_main{
    padding: 0 20px;
    height: auto;
    width: 85%;
}

.navbar_main_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_left{
    display: flex;
}
.left_item{
    padding: 0 10px;
}
.left_item .material-symbols-outlined{
    cursor: pointer;
}
.left_input{
    margin-bottom: 0;
    height: 100%;
    border: 0;
    background-color: #e6e6e6;
}
.left_input:focus {
    outline: none;
  }
.material-symbols-outlined:hover{
    color: var(--colorhover);
}
.navbar_inner{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: solid 1px var(--sercondary);
    /* position: fixed; */
}
.material-symbols-outlined {
  font-size: 14px;

}
.right_user .material-symbols-outlined{
    font-size: 50px;
    font-weight: 500;
}
.navbar_right{
    display: flex;
}
.right_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-size: var(--fontprimary);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.right_item .material-symbols-outlined{
    font-size: 30px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
}
.user_name{
    margin-left: 20px;
}
.logo img{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 5px 0;
}
.dropdow_item:first-child:hover::before{
    border-bottom-color: var(--sercondary);
    position: relative;
}
.dropdow_item:last-child{
    border-radius: 0 0 4px 4px;
}
.dropdow_item:hover{
    font-weight: bold;
    background-color: var(--sercondary);
    position: relative;
    color: var(--colorhover);

}
.notifications {
    text-decoration: none;
    padding-right: 15px;
    position: relative;
    border-radius: 2px;
  }
.notifications .badge {
    position: absolute;
    top: 10%;
    right: 25%;
    padding: 0px 5px;
    border-radius: 50%;
    color: wheat;
    font-size: 10px;
    background-color: #E0144C;
  }
.bg_body{
    background-color: #e6e6e6;
    width: 85% ;
}
.body_inner{
    width: 100%;
    display: flex;
    padding: 25px 25px;
    justify-content: space-between;
    align-items: center;
}
.body_item{
    width: 23%;
    display: flex;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius:10px;
    background-color: var(--primary);
}
.body_item_inner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.item_inner{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D8D9CF;
}
.icon .material-symbols-outlined{
    font-size: 60px;
    font-weight: bold;
}
.text{
    font-size: 15px;
    font-weight: bold;
    flex-flow: column;
    align-items: flex-start;
    font-family: var(--fontsercondary);
}
.text_title{
    display: inline;
}
/* css table*/
.table_body{
    width: 100%;
    padding: 30px 25px;
}
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    padding:25px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }

  .table-fill th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:15px;
    font-weight: 100;
    padding:15px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }

 .table-fill th:first-child {
    border-top-left-radius:0px;
  }

 .table-fill th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }

 .table-fill tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
.table-fill tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }

.tr-active td{
  background:#4E5066;
  color:#0000;
  border-top: 1px solid #22262e;
}

 .table-fill tr:first-child {
    border-top:none;
  }

 .table-fill tr:last-child {
    border-bottom:none;
  }


 .table-fill tr:nth-child(odd):hover td {
    background:#4E5066;
  }

 .table-fill tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }

 .table-fill tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }

 .table-fill td {
    background:#FFFFFF;
    padding:15px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:15px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }

 .table-fill td:last-child {
    border-right: 0px;
  }

 .table-fill th.text-left {
    text-align: left;
  }

 .table-fill th.text-center {
    text-align: center;
  }

 .table-fill th.text-right {
    text-align: right;
  }

 .table-fill td.text-left {
    text-align: left;
  }

 .table-fill td.text-center {
    text-align: center;
  }

 .table-fill td.text-right {
    text-align: right;
  }
  .table_body{
    overflow-x:auto;
    overflow-y: auto;
  }
  .table_title{
    text-align:left;
    color: var(--sercondary);
    padding: 10px 0;
    margin-right: 80%;
    border-radius: 20px 20px 0 0;
    font-size: 20px;
    text-transform: uppercase;
  }
   /* bd add staff */
   .add_staff_body{
      width: 100%;
      background: #a0a0a5;
      background: -webkit-linear-gradient(0deg, #a0a0a5 0%, #212832 100%);
      background: linear-gradient(0deg, #a0a0a5 0%, #212832 100%);
      display: flex;
      justify-content: center;
      min-height: 600px;
   }

   .staff_body_inner{
      margin: 40px 0;
      width: 100%;
      background-color: #FFFFFF;
      justify-content: center;
      border: 2px #FFFFFF;
      border-radius: 25% 15% 0% 15% / 0% 15% 25% 15%;
   }
   .staff_body_inner form{
    padding: 40px 10px;
 }
   .tittle_staff{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 37px;
    padding-left: 20px;
   }
   .input_staff{
    width: 100%;
    padding: 10px 20px;
   }
   .input_staff select{
    width: 100%;
    outline: none;
    margin: 0;
    border: none;
    border-bottom: 1px solid #212832;
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
   }
   .input_staff input{
    width: 100%;
    outline: none;
    margin: 0;
    border: none;
    border-bottom: 1px solid #212832;
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
   }
   .add_staff_out{
    width: 60%;
   }
   .custom1{
    display: flex;
    justify-content: space-between;
   }
   .sex_staff select{
      width: 100%;
   }
   .date_staff{
    width: 45%;
    margin-right: 0;
    outline: none;
   }
   .sex_staff{
    width: 45%;
    margin-right: 0;
    display: flex;
   }
   .input_staff button{
      font-size: 16px;
      font-weight: 500;
      outline: none;
      padding: 8px 20px;
      border-radius: 5px;
      border-color: #665bcf;
      background: #78a0ea;
      background: -webkit-linear-gradient(0deg, #78a0ea 0%, #665bcf 100%);
      background: linear-gradient(0deg, #78a0ea 0%, #665bcf 100%);
   }
   .marin10px{
    padding-top: 30px;
   }
   .staff_flex{
    display: flex;
    justify-content: center;
   }
   .form-group{
    padding: 10px 20px;
   }
   .form-group img{
    border-radius: 50%;
   }
   .form-group span{
      cursor: pointer;
   }
   .form-group input{
    position:absolute;
    top: -100px;
 }


   /* managerStaff */
   .button_staff{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
   }
   .button_staff button{
      font-size: 16px;
      font-weight: 500;
      outline: none;
      padding: 8px 20px;
      border-radius: 5px;
      border-color: #665bcf;
      background: #78a0ea;
      background: -webkit-linear-gradient(0deg, #78a0ea 0%, #665bcf 100%);
      background: linear-gradient(0deg, #78a0ea 0%, #665bcf 100%);
   }
   .warning button{
    border-color: #ea0808;
    background: #ea0808;
    background: -webkit-linear-gradient(0deg, #ea0808 0%, #f0678c 100%);
    background: linear-gradient(0deg, #ea0808 0%, #f0678c 100%);
   }
   .hidetext{
    -webkit-text-security: square;
   }
   /* add product */
     .label_product{
       display: flex;
       justify-content: left;
       align-items: center;
       font-size: 16px;
       font-weight: bold;
     }
     .input_product{
       width: 100%!important;
       height: 30px;
       margin: 10px 0;
     }
    .product_field textarea{
       height: 50px !important;
     }
     .add_product_body{
       display: flex;
       align-items: center;
       justify-content: center;
     }
     .product_body_inner{
       padding:  30px 40px;
       display: none;
     }
     .product_body_inner form{
       padding:  0 20px;
     }
     .button_tab{
       display: flex;
       width: 100%;
       padding: 0 60px;

     }
     .tablink {
       background-color: var(--primary);
       color: white;
       float: left;
       border: none;
       outline: none;
       cursor: pointer;
       font-size: 12px;
       width: 10%;
       text-transform: uppercase;
       border: 1px solid;
       border-right: 2px #9ea7af;
       padding: 10px 0;
     }
     .add_product_out{
       width: 80%;
       background-color: #FFFFFF;
     }
     .tittle_addProduct{
       text-transform: uppercase;
       font-weight: 700;
       margin-bottom: 37px;
       padding-left: 60px;
       padding-top: 50px;
     }
     .product_add_title{
       font-size: 15px;
       text-transform: uppercase;
       font-weight: bold;
       padding-bottom: 20px;
     }
     .button_subpro {
       padding-bottom: 60px;
     }
     .button_subpro button{
       font-size: 16px;
         font-weight: 500;
         outline: none;
         padding: 8px 20px;
         border-radius: 5px;
         border-color: #665bcf;
         background: #78a0ea;
         background: -webkit-linear-gradient(0deg, #78a0ea 0%, #665bcf 100%);
         background: linear-gradient(0deg, #78a0ea 0%, #665bcf 100%);
     }
     #result{
       display: flex;
       flex-wrap: wrap;
     }
     .thumbnail{
       height: 150px;
       border: 1px solid #171717;
     }
     .container {
       display: block;
       position: relative;
       padding-left: 35px;
       margin-bottom: 12px;
       cursor: pointer;
       font-size: 16px;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
     }

     /* Hide the browser's default checkbox */
     .container input {
       position: absolute;
       opacity: 0;
       cursor: pointer;
       height: 0;
       width: 0;
     }

     /* Create a custom checkbox */
     .checkmark {
       position: absolute;
       top: 0;
       left: 0;
       height: 25px;
       width: 25px;
       background-color: #eee;
     }

     /* On mouse-over, add a grey background color */
     .container:hover input ~ .checkmark {
       background-color: #ccc;
     }

     /* When the checkbox is checked, add a blue background */
     .container input:checked ~ .checkmark {
       background-color: var(--primary);
     }

     /* Create the checkmark/indicator (hidden when not checked) */
     .checkmark:after {
       content: "";
       position: absolute;
       display: none;
     }

     /* Show the checkmark when checked */
     .container input:checked ~ .checkmark:after {
       display: block;
     }

     /* Style the checkmark/indicator */
     .container .checkmark:after {
       left: 9px;
       top: 5px;
       width: 5px;
       height: 10px;
       border: solid white;
       border-width: 0 3px 3px 0;
       -webkit-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       transform: rotate(45deg);
     }
     /* category */
       .category_body_inner{
         padding:  30px 60px;
       }

     .table-fill tr td img{
        width:100px;
        height:80px;
     }
     .thumbnail2{
        height: 150px;
        border: 1px solid #171717;
        position:relative;
     }
     output .material-symbols-outlined{
        position:absolute;
        top:-137px;
        right:4px;
        cursor:pointer;
     }
     .thumbnail2_output{
        position:relative;
     }
      /* start productDetails*/
       .body_productDtdetails{
         width: 100%;
       }
       .productDtdetails_inner{
         padding: 40px 40px;
         width: 100%;
         background-color: #fdfdfd;
         display: flex;
         flex-wrap: nowrap;
       }
       .productDtdetails_left{
         width: 50%;
         display: flex;
       }
       .productDtdetails_inner_left{
         width: 100%;

       }
       .image_item_inner{
         display: flex;
         width: 100%;
         padding: 3px 3px;
         justify-content: center;
         align-items: center;
         border:0.5px solid #CFB997;
         border-radius: 10%;
       }
       .productDtdetails_image{
         position: relative;
         width: 100%;
         display: flex;
       }
       .productdt_item{
         width: 100%;
         display: none;
         transition-duration: 400ms
       }
       .prev  {
         cursor: pointer;
         position: absolute;
         top: 50%;
         width: auto;
         margin-top: -22px;
         padding: 16px;
         color: #6B728E;
         font-weight: bold;
         font-size: 18px;
         transition: 0.6s ease;
         border-radius: 0 3px 3px 0;
         user-select: none;
       }
       .next{
         cursor: pointer;
         position: absolute;
         top: 50%;
         width: auto;
         margin-top: -22px;
         right: 0;
         padding: 16px;
         color: #6B728E;
         font-weight: bold;
         font-size: 18px;
         transition: 0.6s ease;
         border-radius: 0 3px 3px 0;
         user-select: none;
       }
       .fade {
         animation-name: fade;
         animation-duration: 1.5s;
       }
       .img_active{
         border:1px solid #DC3535;
         border-radius: 12%;
       }

       @keyframes fade {
         0%   {opacity: .1;}
         25%  {opacity: .3;}
         50%  {opacity: .5;}
         75%  {opacity: .8;}
         100% {opacity: 1;}
         /* from {opacity: .4}
         to {opacity: 1} */
       }
       .productDtdetails_image img{
         width: 100%;
         height: auto;
       }
       .image_item{
         margin: 2px 2px;
         width: 10%;
         cursor: pointer;
       }
       .list_image{
         display: flex;
         flex-wrap: wrap;
         width: 100%;
         overflow: auto;
         white-space: nowrap;
         justify-content: center;
         align-items: center;
       }
       .image_item_inner img{
         width: 100%;
         height: auto;
       }
       .list_image_outer{
         display: flex;
         justify-content: center;
         align-items: center;
       }
       .productDtdetails_right{
         width: 50%;

       }
       .productDtdetails_inner_right{
         width: 100%;
         padding: 0 40px;
       }
       .namedtProduct{
         font-size: 21px;
         font-weight: 700;
         text-transform: uppercase;
         padding-bottom: 22px;
       }
       .price_dt{
         padding-top: 25px;
         font-weight: 700;
         font-size: 16px;
         border-top: 2.5px #6B728E solid;
         width: auto;
         display: inline-table;
       }
       /* .review .fa{
         background-color: #FFFFFF;
         border: #171717 1px solid;
       } */
       .fa-star:before {
         content: "\f005";
         color: #B2B2B2;
     }
     .nmber_star{
       padding-top: 15px;
       font-weight: 500;
       color: #6B728E;
     }
     .mota_dt{
       font-family: 'Alexandria', sans-serif;
       font-size: 15px;
       font-weight: 400;
       padding: 20px 0;
     }
     .quantity{
       display: flex;
       flex-wrap: nowrap;
       justify-content: space-between;
       align-items: center;
       font-weight: 600;
     }
     .quantity_num input{
       outline: none;
       border: none;
       text-align: right;
       font-size: 16px;
     }
     .quantity_num input[type=number]::-webkit-inner-spin-button {
       opacity: 1;
       margin-left: 5px;
       font-size: medium;
     }
     .button_dt{
       text-transform: uppercase;
       font-size: 16px;
       font-weight: 700;
       display: flex;
       justify-content: center;
       align-items: center;
       border: 2px solid #171717;
       padding: 10px;
       margin-top: 22px;
       font-family: 'Alexandria', sans-serif;
       cursor: pointer;
     }
     .button_dt :hover{
       background-color: #16181d;
     }

     .details_product{
       padding: 22px 0;
     }
     .details_product_item{
       padding: 6px 0;
       display: flex;
       flex-wrap: nowrap;
       justify-content: space-between;
       align-items: center;
       font-size: 16px;
       font-family: 'DM Sans', sans-serif;
       font-weight: 500;
     }
     .details_product_item span{
       cursor: pointer;
     }
     .details_product_field{
       display: flex;
       padding-top: 4px;
       padding-bottom: 4px;
       padding-left: 20px;
     }
     .details_product_field_title{
       width: 50%;
     }
     .details_product_field_value{
       width: 50%;
       display: flex;
       flex-wrap: wrap;
     }
     .details_product_content{
       display: none;
       transition-duration: 900ms;
     }
 /* add khuyen mai */
 #myInput {
   width: 100%;
   font-size: 16px;
   padding: 12px 20px 12px 40px;
   border: 1px solid #ddd;
   margin-bottom: 12px;
 }
 .search_addkm{
   position: relative;
 }
 .search_addkm span{
   position: absolute;
   left: 8px;
   font-size: 28px;
   top: 8px;
 }
 .makm{
   display: flex;
   padding: 10px 0;
   padding-left: 10%;
 }
 .makm_item{
   padding-left: 20px;
   width: 50%;
 }
 .makm_item1{
   padding-left: 20px;
   width: 50%;
 }
 .khuyenmai_add{
   align-items: center;
   justify-content: space-between;
   width: 50%;
   border: 2px solid #212832;
   border-radius: 15px;
   margin-bottom: 20px;
 }
 .scroll_km{
   overflow-y:auto;
   max-height: 400px;
   transition-duration: 500ms;
 }
 .container_user{
    display: flex;
    padding: 100px 30px;
    flex-direction: row;
 }
 .user_left_inner ul li a{
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    color: #080808;
 }
 .user_left_inner ul li span{
    margin-right: 10px;
    position: relative;
 }
 .user_left_inner ul li{
    padding: 10px 0;
 }
 .notification_user{
    position: absolute;
    font-size: 14px;
    color: rgb(233, 69, 96);
 }
 .container_user{
    background: rgb(246, 249, 252);
 }
 #notification{
    display: flex;
 }
 #resetpass{
    display: flex;
 }
 #userprofile{
    display: flex;
 }
 #historybill{
    display: flex;
 }
 .active_user{
     color: rgb(233, 69, 96) !important;
 }
 .talbe_oder th{
    font-size: 14px;
 }
 .talbe_oder tbody tr{
    font-size: 13px;
 }
 .user_bill_thumbnail{
    width: 20%;
 }
 .user_bill_thumbail_inner{
    width: 100%;
 }
 .user_bill_thumbail_inner img{
    max-width: 100%;
        min-width: 60px;
 }
 .user_bill_child_right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
 }
 .user_bill_item{
    padding: 0 3px;
 }
 .user_bill_child_right_total{
    display: flex;
    flex-direction: row;
    width: 50%;
 }
 .td_user_item{
    display: flex;
    flex-direction: row;
    width: 100%;
 }
 .talbe_oder tbody tr td{
    word-break: break-all;
    text-align: center;
 }
 .talbe_oder tbody tr td{
    border: 1px solid black;
    /* border: 1px solid white;
  border-collapse: collapse;
  background-color: #96D4D4; */
    /* border: 1px solid black;
    border-bottom:  1px solid;
    border-top:  1px solid #141414; */
 }
 .talbe_oder thead tr th{
    /* border: 1px solid white;
  border-collapse: collapse;
  background-color: #96D4D4; */
    border: 1px solid black;
    /* border-bottom:  1px solid;
    border-top:  1px solid #141414; */
 }
.idBill{
    width: 5%;
 }
 .NameBill{
    width: 10%;
 }
 .TotalBill{
    width: 15%;
 }
 .StatusBill{
    width: 10%;
 }
 .ItemBill{
    width: 40%;
 }
 .user_bill_item2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
 }
.user_left{
    width: 30%;
    padding-right: 50px;
}
.user_right{
    width: 100%;
    background-color: #fff;
    padding: 30px 30px;
}
.user_right_inner{
    width: 100%;
}
.form_item_left img{
    border-radius: 50%;
}
.form_item_left span{
    cursor: pointer;
}
.user_profile_form_item{
    display: flex;
    flex-direction: row;
}
.field_item{
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.title_profile{
    margin-bottom: 30px;
    margin-left: 20px;
}
.field_item2{
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.field_item2 input{
    width: 60%;
    height: 35px;
}
.field_item2 select{
    width: 60%;
    height: 35px;
}
.field_item2 label{
    width: 20%;
}
.field_item input{
    width: 60%;
    height: 35px;
}
.field_item select{
    width: 60%;
    height: 35px;
}
.field_item label{
    width: 20%;
}
.user_profile{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.tittle_staff{
    padding-bottom: 40px;
    font-size: 24px;
}
.form_item_right{
    width: 100%;
    padding: 30px 30px;
}
.field_item_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.field_item_btn button{
    height: 35px;
}
.alert-primary{
    font-size: 16px;
    width: 100%;
    color: #379237;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAD1C2;
    margin-bottom: 20px;
}
.alert-danger{
    font-size: 16px;
    width: 100%;
    color: #CC3636;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAD1C2;
    margin-bottom: 20px;
}
.bill_info_item{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10px 0;
}
.bill_info_item span{
    margin-right: 10px;
}

.back_order_button button{
    font-family: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    outline: 0;
    line-height: 30px;
    letter-spacing: .15em;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    font-size: 14px;
    color: #fff;
    background-color: #CC3636;
    border: 2px solid transparent;
    padding: 7px 46px;
    cursor: pointer;
    z-index: 3;
    border-radius: 0;
}
.back_order_button button a{
    color: #fff;
}
/* table css new */
.table_oder{
           border-collapse: collapse;
    word-break: break-all;
    border-spacing: 1;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-indent: initial;
    border-spacing: 2px;
    font-family:'Mali', cursive !important;
}

.table_oder thead tr {

    height: 60px;
    background: #36304a !important;
    font-family:'Mali', cursive !important;
}
.pagination {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.search_order{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.inputSearchOrder{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputSearchOrder input{
    height: 40px;
    width: 60%;
}
.inputSearchOrder select{
        height: 40px;
        width: 35%;
}
.subSearchOrder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.subSearchOrder span{
    font-size:30px;
    cursor:pointer;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 14px;
    cursor: pointer;
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.table100-head th {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    font-family:'Mali', cursive !important;
}
.column1 {
    width: 180px;

}
.table_oder td, table th {
    text-align: left;
font-size: 14px;
    color: gray;
    line-height: 1.2;
    font-weight: unset;
    border-bottom: 1px solid #f2f2f2;
padding: 0;
text-align: left;
 vertical-align: inherit;
 font-weight: 100;
 font-size: 14px;
text-shadow: none;
border-right: none;
font-family:'Mali', cursive !important;
}
.table_oder tr:nth-child(odd):hover td {
    background: #fff;
}

 .table_oder tr:hover td {
    background: #fff;
    color: gray!important;
        border-top: none;
}
.table_oder tbody tr {
    height: 50px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 12px -12px rgb(0 0 0 / 29%);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgb(0 0 0 / 29%);
}
.table_oder tbody tr {

    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset;
    /* border-bottom: 1px solid #f2f2f2; */
    margin-bottom: 1rem;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.child_table{
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-indent: initial;
    border-spacing: 2px;
}
.child_table tbody tr {
    font-size: 14px;
    color: gray;
    line-height: 1.2;
    font-weight: unset;
    border-bottom: 1px solid #f2f2f2;
}
.column1{
   width:10%;
}
.column2{
   width:6%;
   padding-left: 7px !important;
}
.column3{
   width:15%;
}
.column4{
   width:40%;
   word-break: break-all;
}
.column5{
    width:13%;
}
.column6{
    width:3%;
}
.column7{
    width:13%;
}
td .column7{
    color:red;
}
.table100-head th .column4{
    padding-left:10px;
}
.column0_child{
    width:15%;
}
.column1_child{
    width:45%;
}
.column2_child{
    width:10%;
}
.column3_child{
    width:30%;
}
.column_details1{
    width:50%;
}
.column_details2{
    width:20%;
}
.column_details3{
    width:30%;
}
/* .child_table tbody tr {
    background-color: #f5f5f5;
}
.table_oder tbody tr:nth-child(even) {
    background-color: #f5f5f5;
} */
/* end css table */
/* end profile user */


/* Order details*/
.cart_out {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.payment_out_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 70px;
}
.title_checkout {
    margin: 8px 0 25px;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 600;
}
.title_checkout {
    margin: 8px 0 25px;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 600;
    font-family:'Mali', cursive !important;
}
.bill-des-item{
    font-family:'Mali', cursive !important;
}
.bill_info_item {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10px 0;
    font-family:'Mali', cursive !important;
}
.bill_info_item span {
    margin-right: 10px;
    font-family:'Mali', cursive !important;
}
.table_checkout {
    width: 100%;
    margin-bottom: 40px;
        font-size: 15px;
    font-family:'Mali', cursive !important;
}
.table_checkout table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
        font-size: 15px;
    font-family:'Mali', cursive !important;
}
.table_checkout table tr {
    border: 0;
    border-bottom: 1px solid #e1e1e1;
        font-size: 15px;
    font-family:'Mali', cursive !important;
}
.table_checkout table thead tr .product-name {
    font-weight: 700;
    font-size: 16px;
        font-size: 15px;
    font-family:'Mali', cursive !important;
}

.product-name {
     width: 70%;
     padding: 14px 0;
     text-align: left;
     vertical-align: middle;
     font-weight: 200;
     font-size: 15px;
     color: #929292;
         font-size: 15px;
     font-family:'Mali', cursive !important;
 }
 .order-total th {
     padding: 14px 0;
     text-align: left;
     vertical-align: middle;
         font-size: 15px;
     font-family:'Mali', cursive !important;
     color: #929292;
 }
.cart-subtotal th {
    padding: 14px 0;
    font-family:'Mali', cursive !important;
}
.cart-subtotal td span{
    padding: 14px 0;
        font-size: 15px;
    font-family:'Mali', cursive !important;
}
.cart-subtotal td strong{
    padding: 14px 0;
        font-size: 15px;
    font-family:'Mali', cursive !important;
}
 .product-name td{
      width: 70%;
      padding: 14px 0;
      text-align: left;
      vertical-align: middle;
      font-family:'Mali', cursive !important;
      font-weight: 200;
          font-size: 15px;
      font-size: 15px;
      color: #929292;
  }
.back_order_button button a {
    font-size: 15px;
    color: #fff;
    font-family:'Mali', cursive !important;
}
.back_order_button button {
    font-family: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    outline: 0;
    line-height: 30px;
    letter-spacing: .15em;
    font-family:'Mali', cursive !important;
        font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    font-size: 14px;
    color: #fff;
    background-color: #CC3636;
    border: 2px solid transparent;
    padding: 7px 46px;
    cursor: pointer;
    z-index: 3;
    border-radius: 0;
}
.updateOrder{
height: 30px;
    font-size: 15px;
    font-family: 'Mali', cursive !important;
}
.alert-primary {
    font-size: 16px;
    width: 100%;
    color: #379237;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAD1C2;
    margin-bottom: 20px;
}
.back_order_button a{
    text-decoration: none;
        color: #fff;
}
.span_upload{
  width: 20%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-radius: 15px;
    /* margin: auto; */
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
}
.span_upload span{
  font-size: 70px;
}
.table_checkout table thead tr .product-name {
    font-weight: 700;
    font-size: 16px;
    font-family:'Mali', cursive !important;
}
.bill_info{
font-size: 16px;
    font-family:'Mali', cursive !important;
}
.updateOrder{
    height: 30px;
    font-size: 15px;
    font-family:'Mali', cursive !important;
}
