*{
    box-sizing: border-box;
    margin: 0 0;
    font-family: var(--fontprimary);
}
:root{
    --primary:#171717;
    --sercondary:#212832;
    --fontprimary: 'Mali', cursive;
    /* --fontprimary: 'Patrick Hand', cursive; */
    --fontsercondary: 'Inter', sans-serif;
    /* --colorhover:rgb(71, 75, 255); */
    --colorhover:rgb(233, 69, 96);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    position: relative;
}
.header_top{
    background-color: #171c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    color: #dcdcdc;
    font-size: 10px;
    text-transform: uppercase;
}
.navbar_main{
    background-color: #000000;
    position: fixed;
    display: flex;
    z-index: 1000;
    transition: 0.6s;
}
.navbar_main_inner{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: solid 2px #141414;
    border-top: solid 2px #141414;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #000000;
    position: relative;
}
.navbar_left{
    width: 4%;
    padding: 3px 0;
}
.navbar_left_inner{
    width: 100%;
}
.navbar_left_inner img{
    width: 100%;
    height: auto;
}
.navbar_center_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.navbar_right_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #dcdcdc;
}
.nav_user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}
.navbar_cart{
    padding-left: 10px;
    position: relative;
    cursor: pointer;
}
.menu_item {
    padding: 0 20px;
}
.menu_item a{
    color: #dcdcdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.menu_item :hover{
    font-size: 15px;
    color: var(--colorhover);
}
.menu_item span:hover{
    font-size: 26px;
}
.menu_item a{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.menu_item .material-symbols-outlined{
    font-size: 20px;
}
.nav_user_item{
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.nav_user_item a{
    color: #dcdcdc;
    cursor: pointer;
}
.nav_user_item span{
    margin-left:5px;
}
.navbar_cart a{
    color: #dcdcdc;
}
.navbar_center_inner li input{
    margin-bottom: 0;
    height: 100%;
    border: 0;
    background-color: #000000;
    color: #dcdcdc;
    outline: none;
}
.navbar_center_inner li input::placeholder{
    font-size: 12px;
}
.optionMenu{
    background-color: #000000;
    color: #dcdcdc;
    outline: none;
    font-size: 12px;
}
.navbar_center_inner li input::placeholder{
    color: #dcdcdc;
}
.slider_main{
    width: 100%;
    display: flex;
}
.slider_main_inner{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 70px;
}
.slider_item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    position: relative;
    width: 100%;
    height: 100%;
}
.slider_item img{
    width: auto;
    height: auto;
    padding: 60px 0;
    top: 0;
    position: absolute;
    z-index: 2;
    animation-name: imgslider;
    animation: imgslider 1.5s linear 0s 1 normal forwards;
}
.slider_title{
    color: #dcdcdc;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 10px;
    display: flex;
    white-space: nowrap;
    z-index: 1;
    animation-name: titleAnimation;
    animation: titleAnimation 1.5s linear 0s 1 normal forwards;
}
.back_slider{
    color: #dcdcdc;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 95%;
}
.back_slider1{
    color: #000000;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 100%;
}
.back_slider2{
    color: #000000;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 100%;
}
.next_slider{
    color: #dcdcdc;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 95%;
}
.next_slider1{
    color: #000000;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 100%;
}
.next_slider2{
    color: #000000;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 100%;
}
.hover :hover{
    color: var(--colorhover);
}
@keyframes imgslider {
    0% {
		transform: translateX(1000px);
	}

	100% {
		transform: translateX(0);
	}
}
@keyframes titleAnimation {
    0% {
		transform: translateX(-400px);
	}

	100% {
		transform: translateX(0);
	}
}
.slider_item_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}
.slider_wrapper{
    width: 100%;
    overflow: hidden;
}
.product_sale_content{
    position: relative;
}
.slider_main2{
    display: flex;
    position: relative;
    transition: transform 0.5s linear;
    width: 100%;
}
.category_main{
    display: flex;
    position: relative;
    transition: transform 0.5s linear;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.user_details{
    display: none;
    position: absolute;
    flex-direction: column;
    width: auto;
    white-space: nowrap;
    align-items: flex-start;
    justify-self: start;
    right: 8px;
    z-index: 100000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 50px;
    transition: transform 0.5s linear;  
}
/** cart details*/
.cart_details{
    display: none;
    position: absolute;
    flex-direction: column;
    width: auto;
    width: 400px;
    white-space: nowrap;
    align-items: flex-start;
    justify-self: start;
    right: 0;
    z-index: 100000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s linear; 
}
.cart_details::before{
    content: "";
    position: absolute;
    right: 12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    transform: translateY(-100%);
}
.cart_details_item{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    color: #000000;
    
}
.group_btn a{
    color: #000000;
    padding: 15px 10px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.icon_incart span{
  color: #000000;
  font-size: 16px;
}
.btn_item{
    border: 1px solid;
    border-radius: 300px;
    background-color: rgb(233, 69, 96);
    padding: 5px 0;
    margin-top: 10px;
}
.group_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 15px;
    width: 100%;
}
.cart_details_img{
    width: 35%;
}
.img_inner{
    width: 100%;
}
.cart_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cart_details_sub_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.img_inner img{
    width: 100%;
    height: auto;
}
.input_quantity{
    display: flex;
    justify-content: flex-start;
}
.input_quantity input{
    font-size: 12px;
    width: 40%;
}
.cart_1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.cart_details_sub{
    font-size: 12px;
    width: 65%;
}
.user_details a{
    color: #000000;
    text-transform: none;
    font-size: 10px;
    font-weight: 600; 
}
.user_details a:hover{
    color: rgb(233, 69, 96);
}
.user_details a:hover span{
    color: rgb(233, 69, 96);
}
.user_details a:hover .user_details_item a{
    color: rgb(233, 69, 96);
}
.user_details::before{
    content: "";
    position: absolute;
    right: 12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    transform: translateY(-100%);
}

.user_details_item span{
    color: #000000;
    padding-right: 10px;
    cursor: pointer;
}
.text_cart{
    position: absolute;
    background-color: #cf2e2e;
    border: 1px solid #cf2e2e;
    border-radius: 50%;
    padding:0 3px;
    font-size: 8px;
    right: 0;
}
.user_details_item:hover{
    color: var(--colorhover);
    cursor: pointer;
}
.user_details_item{
    padding: 13px 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.container{
    width: 100%;
    background: rgb(233, 237, 241);
    padding: 60px 0;
}
.container_inner{
    width: 100%;
    padding: 0 30px;
}
.category_index{
    width: 100%;
}
.category_tittle{
    font-size: 25px;
    font-weight: 600;
    text-transform: none;
}
.category_main{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.category_content{
    position: relative;
}
.category_item{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
}
.category_item_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: #fff;
    margin: 12px 12px;
    font-size: 20px;
    width: 100%;
    font-weight: 500;
    padding:20px 0 ;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    border-radius: 8px;
    cursor: pointer;
}
.product_sales{
    width: 100%;
    margin-top: 30px;
}
.product_sales_inner{
    width: 100%;
}
.product_sales_title{
    font-size: 25px;
    font-weight: 600;
    text-transform: none;
    padding-bottom: 10px;
}
.product_title{
    font-size: 25px;
    font-weight: 600;
    text-transform: none;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.product_title a{
    color: rgb(125, 135, 156);
}
.product_tittle_right{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 13px;
    cursor: pointer;
}
.product_tittle_right span{
    font-size: 26px;
}
.product_sale_main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}
.product_sale_main1{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s linear;
}
.product_item{
    display: flex;
    width: 20%;
}
.product_item1{
    width: 20%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
}
.product_item_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin: 12px 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    border-radius: 8px;
}
.product_img{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    position: relative;
}
.product_img img{
    max-width: 234px;
    max-height: 156px;
    width: auto;
    height: auto;
}
.category_item_inner a{
    color:#000;
}
.product_details_left a{
    color:#000;
}
.product_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}
.product_name{
    margin-bottom: 5px;
    font-size: 14px;
    word-break: break-word;
}
.nmber_star{
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    color: rgb(233, 69, 96);
}
.product_details_left{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.product_details_right{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
}
.product_details_right span{
    font-size: 22px;
    /* padding: 4px 4px; */
    /* border: 1px solid rgb(233, 69, 96);
    border-radius: 5px; */
    color: rgb(125, 135, 156);
    cursor: pointer;
}
.product_details_right span:hover{
    color: rgb(233, 69, 96);
}
.product_price{
    color: rgb(233, 69, 96);
}
.product_price span{
    font-size: 14px;
}
.product_price del{
    color: rgb(125, 135, 156);
}
.product_sale{
    display: inline-flex;
    border-radius: 300px;
    cursor: unset;
    box-shadow: unset;
    transition: all 150ms ease-in-out 0s;
    padding: 5px 10px;
    background-color: rgb(233, 69, 96);
    color: rgb(255, 255, 255);
    display: flex;
    top:10px;
    left: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    font-size: 10px;
    font-weight: 600;
}


/*footer main*/
.footer{
    width: 100%;
    background-color: #000000;
}
.footer_inner{
    width: 100%;
    padding: 0 30px;
}
.footer_main{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 95px 0 60px;
}
.footer_item{
    width: 20%;
    display: flex;
}
.footer_item_inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: #fafafa;
    padding: 0 5px;
}
.footer_item_title{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;
}
.footer_item_hoder{
    padding-top: 6px;
   
}
.footer_text_item{
    padding-top: 4px;
    display: flex;
    align-items: center;
}
.footer_text_item a{
    color: #fafafa;
    font-size: 12px;
    transition: all .25s ease;
    line-height: 18px;
    padding: 5px 0;
}
.footer_text_item a::before{
    content: "\e87a";
    font-family: Linearicons-Free;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
    font-size: 13px;
    line-height: 13px;
    padding-right: 3px;
    vertical-align: middle;
    -webkit-transition: left .2s cubic-bezier(.54,.49,0,1.75);
    -moz-transition: left .2s cubic-bezier(.54,.49,0,1.75);
    transition: left .2s cubic-bezier(.54,.49,0,1.75);
}
.footer_text_item a:hover::before{
    display: inline-block;
}
.footer_text_item span{
    font-size: 20px;
    padding-right: 5px;
}
.footer_item_hoder a{
    color: #fafafa;
    font-size: 12px;
    transition: all .25s ease;
    line-height: 18px;
    padding-top: 4px;
}
.footer_item_hoder a:hover{
    color: rgb(233, 69, 96);
}
.footer_item_hoder a:hover .footer_text_item_text{
    color: rgb(233, 69, 96);
}
.footer_text_item_text{
    color: #fafafa;
    font-size: 12px;
    transition: all .25s ease;
    line-height: 18px;
    padding: 5px 0;
}
.footer_end{
    background-color: #000000;
    width: 100%;
    border-top: 1px solid rgba(206,206,206,.2);
}   
.footer_end_inner{
    padding-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.footer_end_text{
    color: #929292;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
}

/* End index */

/* Begin login */

.form_login{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: max-content;
}
.title_login{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}
.title_head{
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}
.form_login_inner{
    width: 40%;
    display: flex;
    background-color: #fff;
    padding: 50px 0;
    border:1px solid #dcdcdc;
    border-radius: 10px;
}
.form_main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 40px;
}
.form_main button{
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    padding: 8px 0;
    background-color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    border-radius: 8px;
    cursor: pointer;
    color: #f0f0f0;
}
.title_login{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.link_register{
    display: flex;
    flex-direction: row;
}
.link_register a{
    margin-left: 5px;
}
.navbar_login{
    background-color: #000000;
    display: flex;
    width: 100%;
    position: fixed;
}
.input_login{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}
.input_register{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
}
.input_register_item{
    display: flex;
    width: 45%;
    flex-direction: column;
}
.input_register_item input{
    font-size: 18px;
    padding: 8px;
}
.input_register_item select{
    font-size: 16px;
    padding: 8px;
}
.input_register_item label {
    padding-bottom: 10px;
}
.input_login label{
    padding-bottom: 10px;
}
.input_login input{
    font-size: 18px;
    padding: 8px;
}
input::placeholder {
    opacity: 0.5;
    font-size: 18px;
}
.navbar_login_inner{
    width: 5%;
    margin-left: 30px;
    padding: 10px 0;
}
.navbar_login_inner img {
    width: 100%;
    height: auto;
}

/* product list dt */
.padding_custom{
    padding: 80px 0;
    
}
.padding_bottom{
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.product_list_out{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
}
.list_filter{
    width: 20%;
}
.product_list_main{
    display: flex;
    width: 80%;
}
.product_sales_inner{
    width: 100%;
    height: 100%;
}
.product_item2{
    display: flex;
    width: 25%;
}
.list_filter_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin: 12px 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    border-radius: 8px;
}
.list_filter{
    display: flex;
}
.sortdt_details{
    display: none;
    position: absolute;
    flex-direction: column;
    width: auto;
    white-space: nowrap;
    align-items: flex-start;
    justify-self: start;
    right: -10px;
    z-index: 100000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    top:25px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    transition: transform 0.5s linear;
}
.sortdt_details a{
    font-size: 14px;
    color: #000000;
    padding: 0 10px;
}
.sortdt_details::before{
    content: "";
    position: absolute;
    right: 12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    transform: translateY(-100%);
}
.sortdt_item{
    padding: 6px 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.sortdt_details a:hover .sortdt_item{
    color: rgb(233, 69, 96);
}
.item_filter{
    display: flex;
    width: 100%;
}
.filter_title{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
}
.item_filter_inner{
    width: 100%;
}
.item_filter2{
    padding: 10px 10px;
    width: 100%;
}
.list_filter_item{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}
.filter_item{
    display: flex;
    width: 50%;
    padding: 3px 0;
}
.filter_item_price{
    display: flex;
    width: 50%;
    padding: 3px 0;
    flex-direction: column;
    justify-self: start;
}
.filter_item_price input{
    width: 90%;
}
.list_filter_item_price{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.filter_item_price input{
    width: 100%;
}
.filter_item label{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter_item input{
    margin-right: 8px;
    cursor: pointer;
    font-size: 14px;
}
.input_rate{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input_rate_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input_rate_inner input{
    text-align: end;
    border: none;
}
.input_rate_inner input:focus {
    outline: none;
}
.item_filter3{
    display: flex;
    padding: 10px 10px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}
.item_filter3 button{
    background-color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    border-radius: 8px;
    padding: 5px 10px;
    color: #f0f0f0;
    cursor: pointer;
}
/* Pagination links */
.pagination{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 14px;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}
  .banner_dt{
    width: 100%;
  }
  .banner_cart{
    width: 100%;
    background-color: #636363;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }
  .text_banner_cart{
    position: absolute;
    top:50%;
    left: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #dcdcdc;
    font-style: italic;
  }
  .banner_dt img{
    width: 100%;
    height: auto;
  }
  .navbar_left_inner{
    max-height: 480px;
  }


  /* css cart begin **/
  .cart_out{
    width: 100%;
    padding-top: 82px;
    height: 100%;
    margin-bottom: 100px;
  }
  .cart_out_inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }
  .cart_out_left{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
  }
  .cart_out_left_inner{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  .cart_out_right{
    display: flex;
    width: 100%;
    flex-direction: column;    
    text-transform: uppercase;
    height: 100%;
  }
  .cart_out_right_out{
    padding: 35px;
    width: 30%;
    background-color: #fafafa;
  }
  .cart_item_child_left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
  }
  .cart_item_child_right{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    float: left;
  }
  .cart_item1{
    display: flex;
    flex-direction: row;
    width: 17%;
  }
  .cart_item2{
    width: 77%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .cart_item_quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #929292;
    padding: 0 10px 0 16px;
    line-height: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
  }
  .cart_item_quantity input{
    outline: none;
    border: none;
    text-align: center;
    color: #929292;
    width: 27px;
  }
  .cart_item_quantity span{
    cursor: pointer;
  }
  .cart_item_quantity label{
    margin-right: 50px;
  }
  .cart_item_quantity input[type=number]::-webkit-inner-spin-button {
    display: none;
  }
  .cart_item_thumbnail{
    padding: 0 8px;
    width: 90%;
  }
  .cart_item_thumbail_inner{
    width: 100%;
    background-color:  #fafafa;
  }
  .cart_item_thumbail_inner img{
    width: 100%;
    height: auto;
  }
  .cart_item_remove{
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  .cart_item_remove span{
    color: #929292;
    font-size: 18px;
  }
  .cart_left_button{
    display: flex;
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
  }
  .cart_coupon{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 10px;
    background-color: #f3f3f3;
  }
  .cart_coupon_button{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .cart_coupon_button button{
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
  .cart_update{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  .cart_back_button{
    font-size: 14px;
    line-height: 22px;
    color: #929292;
    margin-top: 35px;
  }
  
  .cart_update_inner button{
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: .5;
  }
  .cart_update_inner{
    display: flex;
    width: 100%;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
  }
  .cart_coupon_input label{
    margin-right: 10px;
    color: #929292;
  }
  .cart_coupon_input input{
    outline: none;
    border: none;
    font-size: 14px;
    color: #929292;
    background-color: #f3f3f3;
  }
  .cart_coupon_input input::placeholder{
    font-size: 14px;
  }
  .cart_coupon_input{
    display: flex;
    align-items: center;
  }
  .cart_item{
    display: flex;
    flex-direction: row;
    padding: 22px 0;
    align-items: center;
  }
  .cart_back_button{
    display: flex;
  }
  .cart_back_button a{
    display: flex;
    width: auto;
  }
  .cart_back_button_inner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: #929292;
    font-size: 14px;
  }
  .cart_back_button_inner span{
    margin-right: 10px;
  }
  .cart_back_button_inner p{
    align-items: center;
  }
  .container_cart{
    width: 100%;
    background: #fff;
    padding: 60px 0;
    background: rgb(246, 249, 252);
  }
  .cart_title{
    font-size: 25px;
    font-weight: 600px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
 .cart_subtotal{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
 }
 .cart_subtotal_title{
    display: flex;
    width: 35%;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600px;
 }
 .cart_shipping_title{
    display: flex;
    width: 35%;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600px;
 }
 .chechout{
    width: 100%;
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .chechout button{
    background-color:#080808;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 46px;
    outline: 0;
    line-height: 30px;
    letter-spacing: .15em;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
 }
 .cart_subtotal_text{
    display: flex;
    align-items: center;
    font-weight: 200;
    float: left;
    font-size: 14px;
    color: #929292;
 }
 .cart_item_price{
    font-size: 15px;
    color: #929292;
 }
 .cart_item_quantity{
    font-size: 13px;
    color: #929292;
 }
 .cart_item_subtotal{
    font-size: 15px;
    color: #929292;
 }
 .method_item{
    display: flex;
    align-items: center;
    font-weight: 200;
    float: left;
    font-size: 12px;
    color: #929292;
    padding: 5px 0;
 }
 .method_item label{
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    text-transform: none;
 }
 .cart_shipping{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    padding-bottom: 70px !important;
 }
 .cart_shipping_method{
    width: 65%;
    display: flex;
    flex-direction: column;
 }
 .cart_shipping_title{
    display: flex;
    width: 35%;
    justify-content: flex-start;
 }
 .cart_total{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e1e1e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .cart_total_title{
    display: flex;
    width: 35%;
    justify-content: flex-start;
 }
 .cart_right_title{
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 30px;
    text-transform: uppercase;
 }
 .cart_total_text{
    font-size: 24px;
 }
 .payment_out_inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 70px;
}
.title_checkout{
    margin: 8px 0 25px;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 600;
}
.form_checkout_input{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form_checkout_input_item{
    width: 49%;
    display: flex;
    flex-direction: column;
}
.form_checkout_input_item input{
    width: 100%;
    margin: 0 0 14px;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    font-weight: inherit;
    color: #929292;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    outline: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    height: 50px;
    border-radius: 0;
}
.form_checkout_input_item label{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 200;
}
.table_checkout{
    width: 100%;
    margin-bottom: 40px;
}
.table_checkout table{
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
}
.table_checkout table thead tr .product-name{
    font-weight: 700;
    font-size: 16px;
}
.table_checkout table thead tr .product-total{
    font-weight: 700;
    font-size: 16px;
}
.product-name{
    padding: 14px 0;
    text-align: left;
    vertical-align: middle;
    font-weight: 200;
    font-size: 15px;
    color: #929292;
}
.cart-subtotal td{
    font-size: 15px;
    font-weight: 200;
}
.product-total{
    padding: 14px 0;
    text-align: left;
    vertical-align: middle;
    font-weight: 200;
    font-size: 15px;
    color: #929292;
}
.table_checkout table tr{
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    
}
.cart-subtotal{
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    color: #929292;
}
.cart-subtotal th{
    padding: 14px 0;
}
.order-total th{
    padding: 14px 0;
    text-align: left;
    vertical-align: middle;
    color: #929292;
}
.order-total td{
    padding: 14px 0;
    text-align: left;
    vertical-align: middle;
    color: #929292;
}
.note_payment{
    font-size: 13px;
    font-weight: 300;
    color: rgb(233, 69, 96);
    margin-bottom: 20px
}
.form_checkout_input_item input::placeholder{
    font-size: 13px;
}
.check_payment{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.check_payment label{
    text-transform: uppercase;
    font-size: 14px; 
    padding-left: 10px; 
}
.check_payment input{
    cursor: pointer;
}
.check_payment i{
    color: rgb(233, 69, 96);
    font-size: 13px;
    text-transform: none;
}
.payment_btn button{
    font-family: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    outline: 0;
    line-height: 30px;
    letter-spacing: .15em;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    font-size: 14px;
    color: #fff;
    background-color: #080808;
    border: 2px solid transparent;
    padding: 7px 46px;
    cursor: pointer;
    z-index: 3;
    border-radius: 0;
}

/* product - details */

.container_details{
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.container_details{
    width: 100%;
}
.details_title{
    padding: 30px;
    padding-top: 60px;
}
.details_title_inner{
    padding: 50px 0;
    font-size: 20px;
    display:flex;
    flex-direction:row;
}
.details_title_inner p{
    padding: 50px 0;
    font-size: 20px;
}
.details_body{
    width: 100%;
}
.details_body_inner{
    margin: 0 30px;
    display: flex;
    flex-direction: row;
}
.details_body_left{
    display: flex;
    width: 50%;
}
.details_body_left_inner{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.list_img_details{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img_details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
    position: relative;
}
.img_details_anh{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    transition-duration: 400ms;
    background-color: #f3f3f3;
    padding:20px 20px;
}
.img_active{
    border:1px solid #DC3535;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    0%   {opacity: .1;}
    25%  {opacity: .3;}
    50%  {opacity: .5;}
    75%  {opacity: .8;}
    100% {opacity: 1;}
    /* from {opacity: .4}
    to {opacity: 1} */
  }
  .prev  {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    left: 0;
    color: #6B728E;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    right: 0;
    padding: 16px;
    color: #6B728E;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .product_tittle_left{
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  .product_tittle_left span{
      margin-left:8px;
      color: rgb(125, 135, 156);
      font-size: 13px;
  }
.img_details_item{
    display: flex;
    margin: 5px 5px;
    overflow-x: auto;
    max-width: 30%;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.formSearch{
    display:flex;
    flex-direction:row;
    align-item:center;
}
.img_details_item_inner{
    width: 100%;
    padding:15px 15px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.img_details_item_inner img{
    width: 100%;
}
.details_body_right{
    width: 50%;
    padding-left: 170px;
}
.details_right_name{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.details_sale{
    position: absolute;
    top: 15px;
    right: 20px;
    width: auto;
    color: #080808;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    display: inline-flex;
    border-radius: 300px;
    cursor: unset;
    box-shadow: unset;
    transition: all 150ms ease-in-out 0s;
    padding: 5px 10px;
    background-color: rgb(233, 69, 96);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    font-size: 10px;
    font-weight: 600;
}
.details_body_right_inner{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.img_details img{
    width: 30vw;
}
.details_right_price{
    display: flex;
    float: left;
    flex-direction: row;
    padding: 5px 0;
}
.details_right_price p{
    line-height: 1;
    color: #080808;
    font-size: 20px;
 }
 .details_right_price del{
    margin-right: 15px;
    color: #929292;
 }
  .details_right_review{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .details_right_review .review_inner{
    margin-left: 15px;
  }
  .details_right_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;

  }
  .details_form_input{
    padding: 0 15px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    color: #929292;
    box-sizing: border-box;
    line-height: 50px;
    height: 50px;
    padding: 0 10px 0 16px;
    margin: 0 -4px 0 0;
  }
  .details_form_input span{
    cursor: pointer;
  }
  .details_form_input input{
    outline: none;
    border: none;
    text-align: center;
    color: #929292;
    width: 27px;
  }
  .details_form_input input[type=number]::-webkit-inner-spin-button {
    display: none;
  }
  .details_form_button{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .details_form_button button{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    outline: 0;
    line-height: 30px;
    letter-spacing: .15em;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    font-size: 12px;
    color: #fff;
    background-color: #080808;
    border: 2px solid transparent;
    padding: 8px 0;
    cursor: pointer;
    z-index: 3;
    border-radius: 0;
  }
  .details_right_meta{
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    margin-top: 50px;
    font-size: 13px;
  }
  .meta_item .material-symbols-outlined{
    margin-left: 0;
    margin-right: 5px;
    font-size: 15px;
  }
  .meta_item{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
  }
  .meta_item span{
    margin-left: 10px;
    color: #929292;
  }
  .wishlist_details{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  .wishlist_details span{
    color: #929292;
    font-size: 20px;
    margin-right: 5px;
  }
  .wishlist_details p{
    font-size: 14px;
    text-transform: uppercase;
  }
  .details_body_right_inner a{
    color: #000000;
  }
  .details_button_tab{
    margin: 0 5px;
    margin-top: 70px;

  }
  .details_tab_inner{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .tab_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27%;
    padding: 16px 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    border: 1px solid #e1e1e1;
    border-bottom: 0;
    color: #323232;
    background-color: #fafafa;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tab_item_des{
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #323232;
    border: 1px solid #e1e1e1;
    border-bottom: 0;
    background-color: #fafafa;
    text-transform: uppercase;
    cursor: pointer;
  }
  .details_des_sub{
    width: 100%;
    background-color: #fff;
    padding: 0 5px;
    border-bottom: 1px solid #e1e1e1;
  }
  .details_des_sub_inner{
    padding:  0 30px;
    padding-top: 70px;
    padding-bottom: 60px;

  }
  .item_sub_des_tille{
    margin: 18px 0;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .item_sub_des_content{
    margin: 10px 0;
    font-weight: 300;
    font-size: 14px;
    color: #929292;
    line-height: 25px;
  }
  .item_sub_cauhinh{
    width: 50%;
  }
  .item_sub_cauhinh_content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .item_sub_cauhinh_content_item{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 5px 0;
    font-weight: 300;
    font-size: 14px;
    color: #929292;
    line-height: 25px;
  }
  .item_sub_cauhinh_content_title{
    width: 30%;
    color: #080808;
  }
  .item_sub_cauhinh_content_des{
    width: 70%;

  }
  .item_sub_cauhinh_button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 15px;

  }
  .button_sub_cauhinh{
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    font-size: 14px;
  }
  .comment_details{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .comment_img{
    width: 10%;
  }
  .comment_sub{
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .comment_user{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .comment_user span{
    margin-left: 10px;
    font-size: 13px;
    color: #929292;
  }
  .comment_img_inner{
    width: 100%;
  }
  .comment_img_inner img{
    width: 100%;
    border-radius: 50%;
  }
  .comment_nd{
    font-size: 14px;
    color: #929292;
  }
  .item_sub_review_form{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
  }
  .item_sub_review{
    width: 50%;
  }
  .rating_review{
    margin-top: 20px;
  }
  .rating_review p{
    font-size: 13px;
    color: #929292;
  }
  .user_review{
    width: 100%;
  }
  .user_review p {
    margin-bottom: 15px;
  }
  .user_review textarea{
    width: 100%;
  }
  .user_review button{
    font-size: 12px;
    color: #fff;
    background-color: #080808;
    border: 2px solid transparent;
    padding: 8px 46px;
    margin-top: 15px;
    cursor: pointer;
  }
.tab_item::selection {
    background: #080808;
    color: #fff;
}
.tab_item_des ::selection {
    background: #080808;
    color: #fff;
}
.item_details_sub{
    display: none;
}
.wrapper{
    position: relative;
}

.details_product_wraper{
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    padding: 0 100px;
    background: rgba(0, 0, 0, 0.8);
    min-height: 100%;
}
.details_product_wraper_title{
    margin-top: 60px;
    padding-left: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.details_product_wraper_main{
    padding: 50px 230px;
}
.details_product_wraper_inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 249, 252);;
}
.close_cauhinh{
    margin-right: 60px;
}
.close_cauhinh span{
    font-size: 35px;
    cursor: pointer;
}
.details_product_wraper_title{
    width: 100%;
}
.details_product_wraper_title_h3{
    display: flex;
    width: 50%;
}
.details_product_wraper_title_h3 h3{
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.details_product_wraper_main{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.details_product_wraper_item{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.details_product_wraper_item_title{
    float: left;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 5px;
    margin: 20px 0;
    width: 100%;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #f0f0f0;

}
.details_wrapper_main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.details_wrapper_main_item{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 10px 5px;
}
.details_wrapper_main_title{
    width: 25%;
    display: flex;
    float: left;
    word-break: break-all;
    font-size: 15px;
}
.details_right_des{
    font-size: 14px;
}
.details_wrapper_main_sub{
    width: 75%;
    display: flex;
    float: left;
    word-break: break-all;
    font-size: 13px;
}

/* product list dt */
.padding_custom{
    padding: 80px 0;

}
.padding_bottom{
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.product_list_out{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
}
.list_filter{
    width: 20%;
}
.product_list_main{
    display: flex;
    width: 80%;
}
.product_sales_inner{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
}
.product_sales_inner3{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
}
.product_sales_inner3 h4{
    margin-left: 40px;
    margin-top: 10px;
}
.product_item2{
    display: flex;
    width: 25%;
}
.list_filter_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin: 12px 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    border-radius: 8px;
}
.list_filter{
    display: flex;
}
.sortdt_details{
    display: none;
    position: absolute;
    flex-direction: column;
    width: auto;
    white-space: nowrap;
    align-items: flex-start;
    justify-self: start;
    right: -10px;
    z-index: 100000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    top:25px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    transition: transform 0.5s linear;
}
.sortdt_details a{
    font-size: 14px;
    color: #000000;
    padding: 0 10px;
}
.sortdt_details::before{
    content: "";
    position: absolute;
    right: 12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    transform: translateY(-100%);
}
.sortdt_item{
    padding: 6px 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.sortdt_details a:hover .sortdt_item{
    color: rgb(233, 69, 96);
}
.item_filter{
    display: flex;
    width: 100%;
}
.filter_title{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
}
.item_filter_inner{
    width: 100%;
    margin-bottom: 50px;
}
.item_filter2{
    padding: 10px 10px;
    width: 100%;
}
.list_filter_item{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}
.filter_item{
    display: flex;
    width: 50%;
    padding: 3px 0;
}
.filter_item_lt{
    display: flex;
    width: 100%;
    padding: 3px 0;
}
.filter_item_lt label{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-left: 7px;
}
.filter_item_price{
    display: flex;
    width: 50%;
    padding: 3px 0;
    flex-direction: column;
    justify-self: start;
}
.filter_item_price input{
    width: 90%;
}
.list_filter_item_price{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.filter_item_price input{
    width: 100%;
}
.filter_item label{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter_item input{
    margin-right: 8px;
    cursor: pointer;
    font-size: 14px;
}
.input_rate{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input_rate_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input_rate_inner input{
    text-align: end;
    border: none;
}
.input_rate_inner input:focus {
    outline: none;
}
.item_filter3{
    display: flex;
    padding: 10px 10px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}
.item_filter3 button{
    background-color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    border-radius: 8px;
    padding: 5px 10px;
    color: #f0f0f0;
    cursor: pointer;
}
/* Pagination links */
.pagination{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 14px;
    cursor: pointer;
  }

  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}
  .banner_dt{
    width: 100%;
  }
  .banner_cart{
    width: 100%;
    background-color: #636363;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }
  .text_banner_cart{
    position: absolute;
    top:50%;
    left: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #dcdcdc;
    font-style: italic;
  }
  .banner_dt img{
    width: 100%;
    height: auto;
  }
  .navbar_left_inner{
    max-height: 480px;
  }



  